/* custom styles start  */

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --base-text: 1rem;
  --base-text-weight: 600;
  --base-text-color: #3a3a3a;
  --footer-color: #0a0826;
  --card-title: 1.75rem;
  --card-sub-title: 1.5rem;
}

.base-text-color {
  color: var(--base-text-color);
  font-weight: var(--base-text-weight);
}

.btn-primary {
  padding: 10px 24px;
  border-radius: 20px;
  border-style: none;
  background-color: #e02c6d;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}

/* custom styles end  */

/* header styles start  */

header {
  padding: 0 120px;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-top: 87px;
}

nav ul li {
  justify-content: center;
  list-style: none;
}
.nav-menu-container ul a {
  text-decoration: none;
  font-size: var(--base-text);
  font-weight: var(--base-text-weight);
  color: var(--base-text-color);
}

nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-title {
  color: var(--base-text-color);
  font-size: 3.25rem;
  font-weight: 700;
  width: 580px;
  margin-bottom: 16px;
}

.header-description {
  width: 500px;
  margin-bottom: 16px;
}

.header-container {
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 100px;
}

.header-sponsors {
  padding: 41px 227px;
  display: flex;
  justify-content: space-evenly;
  gap: 60px;
  margin-bottom: 100px;
}
/* header styles end  */

/* main styles start  */

.container-title {
  font-size: var(--card-title);
  font-weight: var(--base-text-weight);
  color: var(--base-text-color);
  text-align: center;
  margin-bottom: 30px;
}

.popular-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px 196px;
  gap: 30px;
}

.card {
  padding: 17px 14px;
}

.card img {
  width: 100%;
}

.card-title {
  color: #18191f;
  font-size: var(--card-title);
  font-weight: 500;
  margin: 6px 0px;
}
main {
}

.card-sub-title {
  font-size: var(--card-sub-title);
  font-weight: 400;
  margin: 6px 0px;
}
.stars {
  width: 122px;
  height: 32px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0px;
}
/* 
.buttom-text {
  position: relative;
  left: 100%;
}
 */

/* featured section style  */

.featured {
  padding: 100px 165px;
  display: flex;
  align-items: center;
  gap: 96px;
}

.featured-img {
  width: 404px;
  height: 270px;
}

.featured-title {
  font-size: 2.3em;
  font-weight: 700;
  color: var(--footer-color);
  margin-top: 0px;
  margin-bottom: 16px;
}

.featured-description {
  font-size: var(--base-text);
  font-weight: 700;
  color: var(--base-text-color);
  margin-bottom: 16px;
}

/* footer section style */

footer {
  background-color: var(--footer-color);
}

.footer-container {
  text-align: center;
  padding: 50px 0px;
}

.footer-container h4 {
  font-size: var(--card-sub-title);
  color: #fff;
}
.footer-container p {
  font-size: 0.87rem;
  color: #d9dbe1;
}

.footer-img {
  margin-top: 16px;
  gap: 16px;
}
