/* custom styles start  */

* {
  font-family: "Poppins", sans-serif;
}

:root {
  --base-text: 1rem;
  --base-text-weight: 600;
  --base-text-color: #3a3a3a;
}

.base-text-color {
  color: var(--base-text-color);
  font-weight: var(--base-text-weight);
}

.btn-primary {
  padding: 10px 24px;
  border-radius: 20px;
  border-style: none;
  background-color: #e02c6d;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}

/* custom styles end  */

/* header styles start  */

header {
  padding: 0 120px;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav ul li {
  justify-content: center;
  list-style: none;
}

nav ul a {
  text-decoration: none;
  font-size: var(--base-text);
  font-weight: var(--base-text-weight);
  color: var(--base-text-color);
}

nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-title {
  color: var(--base-text-color);
  font-size: 3.25rem;
  font-weight: 700;
  width: 580px;
}

.header-description {
  width: 500px;
}

.header-container {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  margin-bottom: 100px;
}

.header-sponsors {
  padding: 41px 227px;
  display: flex;
  justify-content: space-evenly;
  gap: 60px;
  margin-bottom: 100px;
}
/* header styles end  */

/* main styles start  */
